{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="wrapper">

{% include 'include/alert.html' %}


  <div class="container-login">
    <div class="col-left">
      <div class="login-text">
        <h2>Welcome User</h2>
        <p>Please reset your password</p>
      </div>
    </div>
    <div class="col-right">
      <div class="login-form">
        <h2>Reset Password</h2>
        <form method='POST' action="{% url 'resetPassword' %}">
        {% csrf_token %}
          <p>
            <label>Create Password<span>*</span></label>
            <input type="password" placeholder="Create Password" name='password' required>
          </p>
          <p>
            <label>Confirm Password<span>*</span></label>
            <input type="password" placeholder="Confirm Password" name='confirm_password' required>
          </p>
          <p>
            <input type="submit" value="Reset" />
          </p>
     
        </form>
      </div>
    </div>
  </div>

</div>

    
{% endblock %}