{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h4><b>Shopping Cart</b></h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

    {% if not cartItem %}
        {% comment %} <div class="container-fluid mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="empty">
                        <div class="card-header">
                            <h5>Cart</h5>
                        </div>
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="180" height="130" class="img-fluid mb-4 mr-3">
                                <h3><strong>Your Cart is Empty</strong></h3>
                                <h4>Add something to make me happy :)</h4> <a href="{% url 'store' %}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <h2 class='text-center'>  Your cart is empty </h2>
        <br>
        <div class='text-center'>
            <a href=" {% url 'store' %}" class='btn btn-primary'> Continue Shopping </a>
        </div> 
    {% else %}



                <div class='container cart-page'>

                    <div class="back-to-shop"><a href="{% url 'store' %}">&leftarrow;</a><span class="text-muted">Back to shop</span></div>

                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>

                     {% for item in cartItem %}
                    <tr>
                            <td>
                                <div class='cart-info'>
                                    <img src="{{item.product.product_img.url}}">
                                    <div>
                                        <p>{{item.product.product_name}}</p>
                                        <small>Price: {{item.product.price}} </small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'cartRemove' item.product.id %}" class="input-number-decrement">-</a>
                                <input type="number" class="input-number" id="number" name="qty" value="{{item.quantity}}" disabled>
                                <a href="{% url 'cartAdd' item.product.id %}" class="input-number-increment">+</a>
                            </td>
                            <td>$ {{item.sub_total}} </td>
                            <td><a href="{% url 'cartRemoveAll' item.product.id %}"> <i class='fa fa-close'></i></a></td>
                   
                    </tr>
                         {% endfor %}
                </div>

                </table>

                <div class='total-price'>
                    <table>
                        <tr>
                            <td>Sub Total</td>
                            <td>$ {{total}}</td>
                        </tr>

                         <tr>
                            <td>Tax</td>
                            <td>$ {{tax}}</td>
                        </tr>

                         <tr>
                            <td>Grand Total</td>
                            <td>$ {{grandTotal}}</td>
                        </tr>
                    </table>

                </div>

                <div class='order-submit'>
                    <a href="{% url 'checkout' %}" class="primary-btn">Place order</a>
                </div>
                 

 


                    
                                   
      
        {% endif %}


    {% endblock %}