{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h4><b>Shopping Cart</b></h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

    {% if not cartItem %}

        <h2 class='text-center'>  Your cart is empty </h2>
        <br>
        <div class='text-center'>
            <a href=" {% url 'store' %}" class='btn btn-primary'> Continue Shopping </a>
        </div>
    {% else %}
            <div class='card'>
                <div class="row">
                    <div class="col-md-8 cart">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4><b>{{user.username}} Cart</b></h4>
                                </div>
                                <div class="col-md-3 text-right text-muted">{{count}} items</div>
                            </div>
                        </div>

                        <hr>
                        {% for item in cartItem %}

                            <div class="row border-top border-bottom">
                                <div class="row main align-items-center">
                                    <div class="col-md-1"><img class="img-fluid" src="{{item.product.product_img.url}}"></div>
                                    <div class="col-md-3">
                                        <div class="row text-muted">{{item.product.product_name}}</div>
                                        <div class="row">Cotton T-shirt</div>
                                    </div>
                                    <div class="col-md-2">$ {{item.sub_total}}</div>
                                    <div class="col-md-2 qty">
                                        <a href="{% url 'cartRemove' item.product.id %}" class="minus">-</a>
                                            <input type="number" class="count" name="qty" value="{{item.quantity}}">
                                        <a href="{% url 'cartAdd' item.product.id %}" class="plus">+</a>
                                    </div>

                                    <div class="col-md-2">$ {{item.product.price}}</div>
                                    <div class="col-md-2"><a href="{% url 'cartRemoveAll' item.product.id %}"> <i class='fa fa-close'></i></a></div>
                                </div>
                            </div>

                             <hr>

                        {% endfor %}

                       
                    
                
                        <div class="back-to-shop"><a href="{% url 'store' %}">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
                    </div>

                        <!-- Order Details -->
                                <div class="col-md-4 order-details">
                                    <div class="section-title text-center">
                                        <h3 class="title">Your Order</h3>
                                    </div>
                                    <div class="order-summary">
                                        
                                        <div class="order-col">
                                            <div>TOTAL PRICE</div>
                                            <div><strong>{{total}}</strong></div>
                                        </div>
                                        
                                        <div class="order-col">
                                            <div>TAX</div>
                                            <div><strong>{{tax}}</strong></div>
                                        </div>
                                        <div class="order-col">
                                            <div><strong>GRAND TOTAL</strong></div>
                                            <div><strong class="order-total">{{grandTotal}}</strong></div>
                                        </div>
                                    </div>
                                    <a href="{% url 'checkout' %}" class="primary-btn order-submit">Place order</a>
                                </div>
                                <!-- /Order Details -->


                </div>
                </div>
        {% endif %}


    {% endblock %}