{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h4><b>Shopping Cart</b></h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

        		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
                


                <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <div class="card card0 rounded-0">
                <div class="row">
                    <div class="col-md-5 d-md-block d-none p-0 box">
                        <div class="card rounded-0 border-0 card1" id="bill">
                            <h3 id="heading1">Payment Summary</h3>
                            <div class="row">
                                <div class="col-lg-7 col-8 mt-4 line pl-4">
                                    <h2 class="bill-head">Electronics</h2> <small class="bill-date">2017 Feb 10 at 10:30 PM</small>
                                </div>
                                <div class="col-lg-5 col-4 mt-4">
                                    <h2 class="bill-head px-xl-5 px-lg-4">CAF</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-8 mt-4 line pl-4">
                                    <h2 class="bill-head">Food</h2> <small class="bill-date">2017 Feb 25 at 11:30 PM</small>
                                </div>
                                <div class="col-lg-5 col-4 mt-4">
                                    <h2 class="bill-head px-xl-5 px-lg-4">JFK</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-8 mt-4 line pl-4">
                                    <h2 class="bill-head">Grocery</h2> <small class="bill-date">2017 Mar 17 at 10:45 PM</small><br> <small class="bill-date">2017 Mar 18 at 11:45 PM</small>
                                </div>
                                <div class="col-lg-5 col-4 mt-4">
                                    <h2 class="bill-head px-xl-5 px-lg-4">LHR</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-8 mt-4 line pl-4">
                                    <h2 class="bill-head">Accessories</h2> <small class="bill-date">2017 Apr 13 at 05:30 PM</small>
                                </div>
                                <div class="col-lg-5 col-4 mt-4">
                                    <h2 class="bill-head px-xl-5 px-lg-4">JFK</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 red-bg">
                                    <p class="bill-date" id="total-label">Total Price</p>
                                    <h2 class="bill-head" id="total">$ 523.65</h2> <small class="bill-date" id="total-label">Price includes all taxes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 p-0 box">
                        <div class="card rounded-0 border-0 card2" id="paypage">
                            <form action=" {% url 'placeOrder' %} " method='POST'>  
                            {% csrf_token %}
                          
                                <div class="form-card">
                                    <h2 id="heading2" class="text-danger">Shipping Address</h2>

                                    <div class="row">
                                        <div class="col-8 col-md-6"> <label class="pay">FIRST_NAME</label> <input type="text" name="first_name" placeholder="Ngawang"> </div>
                                        <div class="col-8 col-md-6"> <label class="pay">LAST_NAME</label> <input type="text" name="last_name" placeholder="Sherpa"> </div>
                                    </div>
                    
    
                                    <div class="row">
                                        <div class="col-8 col-md-6"> <label class="pay">PHONE NUMBER</label> <input type="text" name="phone" placeholder="+977 980123123"> </div>
                                        <div class="col-8 col-md-6"> <label class="pay">EMAIL</label> <input type="text" name="email" placeholder="ngawang@gmail.com"> </div>
                                    </div>

                            
                                    <label class="pay">ADDRESS_LINE</label> <input type="text" name="address_line_1" placeholder="Tusal, Boudha">

                                    <div class="row">
                                        <div class="col-8 col-md-4"> <label class="pay">CITY</label> <input type="text" name="city" placeholder="Kathmandu"> </div>
                                        <div class="col-8 col-md-4"> <label class="pay">STATE</label> <input type="text" name="state" placeholder="Bagmati"> </div>
                                        <div class="col-8 col-md-4"> <label class="pay">COUNTRY</label> <input type="text" name="country" placeholder="Nepal"> </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12"> <label class="pay">ORDER NOTE</label> </div>
                                        <div class="col-md-12"> <input type="text" name="order_note"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"> <input type="submit" value="PROCEED TO CHECKOUT &nbsp; &#xf178;" class="btn btn-info placeicon"> </div>
                                    </div>
                                </div>

                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  


				
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


    {% endblock %}