{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'store' %}">Store</a></li>
							<li class="active">{{detail.product_name}}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->
      <!----------------Product Detail------------>  

            <section class="single-product">
            <div class="container">
            <div class="row">
            <div class="col-md-5">
                <div id="product-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item detail-img">
                <img src="{{detail.product_img.url}}" class="d-block" >
                </div>
            </div>
            
            </div>
            </div>   
                
            <div class="col-md-7">
                <p class="new-arrival text-center">NEW</p>
                <h2>{{detail.product_name}}</h2>
                <p>Product Code: IRSC2019</p>
                
                <i class="fa fa-star"></i>  
                <i class="fa fa-star"></i>  
                <i class="fa fa-star"></i>  
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-half-o"></i>
                    
                <p class="price">USD ${{detail.price}}</p>
                <p><b>Availability:</b>
                {% if detail.stock <= 0 %}
                    Out of stock 
                {% else %}
                    In stock
                {% endif %}
                </p>
                <p><b>Brand:</b> XYZ Company</p>

                {% if detail.stock <= 0 %}
                <h5 class='text-danger'> Out of stock </h5>
                {% else %}
                    {% if in_cart %}
                        <a href="#" class="btn  btn-success"> <span class="text">Added to cart</span> <i class="fas fa-check"></i>  </a>
                        <a href="{% url 'cart' %} " class="btn  btn-outline-primary"> <span class="text">View Cart</span> <i class="fas fa-eye"></i>  </a>
                    {% else %}
                        <a href=" {% url 'cartAdd' detail.id %} " class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
                    
                    {% endif %}

                {% endif %}
            </div>    
            </div>    
            </div>    
            </section>
                
           <!----- Product description -->
                
            <section class="product-description">
            <div class="container">
            <h6>Product Description</h6>
            <p>{{detail.description}}</p>
                
            <hr>    
            </div> 
                
            <div class="container">
                <div class="title-box">
                <h2>Similar</h2>
                </div>
                <div class="row">
            
                  {% for product in products %}
								<div class="col-md-3">

								<div class="product-top">
									<a href="{{product.get_url }}"><img src="{{product.product_img.url}}"></a> 
								</div>
								
								<div class="product-bottom text-center">
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star-half-o"></i>  
								<i class="fa fa-star-o"></i>  
									<h3>{{product.product_name}}</h3>
									<h5>${{product.price}}</h5>
								</div>
								</div>

						{% endfor %}
                
                </div>
            </div>
                
            </section>
                
 

{% endblock %}