{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li class="active">Store({{count}}  Results)</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

			<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Products</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li><a href="{% url 'store' %}">All Products</a></li>
									{% for cat in links%}
										<li><a href="{{cat.get_url}}">{{ cat.category_name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							{% if products %}

									{% for product in products%}

										<div class="col-md-3">

											<div class="product-top">
												<a href="{{product.get_url }}"><img src="{{product.product_img.url}}"></a> 
											</div>
											
											<div class="product-bottom text-center">
											<i class="fa fa-star"></i>  
											<i class="fa fa-star"></i>  
											<i class="fa fa-star"></i>  
											<i class="fa fa-star-half-o"></i>  
											<i class="fa fa-star-o"></i>  
												<h3>{{product.product_name}}</h3>
												<h5>${{product.price}}</h5>
											</div>
											</div>

									{% endfor %}

									{% else %}
										<div>
											<h2> No result found.Please try again..</h2>
										</div>

									{% endif %}
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->

					<!-- store bottom filter -->
						<div class="store-filter clearfix">
					
							{% if products.has_other_pages %}
								<ul class="store-pagination">
								{% if products.has_previous %}
									<li><a href="?page= {{products.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
								{% else %}
									<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
								{% endif %}

								{% for i in products.paginator.page_range %}
									{% if products.number == i %}
										<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
									{% else %}
										<li class="page-item"><a class="page-link" href="?page= {{i}} ">{{i}}</a></li>
									{% endif %}
								{% endfor %}

								{% if products.has_next %}
									<li><a href="?page= {{products.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
								{% else %}
									<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
								{% endif %}
								</ul>
							{% endif %}
						</div>
						<!-- /store bottom filter -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
				

{% endblock %}