{% extends 'base.html' %}
{% load static %}

	{% block content %}

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
						
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							 <div class="title-box">
						    	<h2>New Arrivals</h2>
						    </div>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>	
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							{% for product in products %}
								<div class="col-md-3">

								<div class="product-top">
									<a href="{{product.get_url }}"><img src="{{product.product_img.url}}"></a> 
								</div>
								
								<div class="product-bottom text-center">
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star-half-o"></i>  
								<i class="fa fa-star-o"></i>  
									<h3>{{product.product_name}}</h3>
									<h5>${{product.price}}</h5>
								</div>
								</div>

						{% endfor %}
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					{% for cat in category %}
						<div class="col-md-4 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="{{cat.cat_image.url}}" alt="">
								</div>
								<div class="shop-body">
									<h3>{{cat.category_name}}<br>Collection</h3>
									<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					{% endfor %}
					<!-- /shop -->


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							 <div class="title-box">
						    	<h2>New Arrivals</h2>
						    </div>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							{% for product in products %}
								<div class="col-md-3">

								<div class="product-top">
									<a href="{{product.get_url }}"><img src="{{product.product_img.url}}"></a> 
								</div>
								
								<div class="product-bottom text-center">
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star"></i>  
								<i class="fa fa-star-half-o"></i>  
								<i class="fa fa-star-o"></i>  
									<h3>{{product.product_name}}</h3>
									<h5>${{product.price}}</h5>
								</div>
								</div>

						{% endfor %}
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	{% endblock %}
