{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h4><b>Review and finalize your order</b></h4>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->


<div class="row container-fluid payment">

	<aside class="col-lg-7">

        <div class="card">
            <h5 class="card-header">Billing address</h5>
            <div class="card-body">

                <p class="card-text mb-0"> <b>Full Name: </b>{{order.full_name}}</p>
                <p class="card-text mb-0"> <b>Email: </b>{{order.email}}</p>
                <p class="card-text mb-0"> <b>Contact number: </b>{{order.phone}}</p>
                <p class="card-text mb-0"> <b>Address: </b>{{order.address_line_1}}</p>
                <p class="card-text mb-0"> <b>City, State: </b>{{order.city}}, {{order.state}} </p>
                <p class="card-text mb-0"> <b>Country: </b>{{order.country}}</p>

                {% if order.order_note %}
                    <p><b>Order Note: </b> {{order.order_note}}</p>
                {% endif %}
    
            </div>
        </div>

        <hr>

             <div class="card">
            <h5 class="card-header">Payment Method</h5>
            <div class="card-body">

                <p class="card-text">Cash on Delivery</p>
    
            </div>
        </div>

        <hr>

             <div class="card">

            <div class="card-body">

                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
         
                    </tr>

                    {% for item in cartItem %}
                    <tr>
                     
                            <td>
                                <div class='cart-info'>
                                    <img src="{{item.product.product_img.url}}">
                                    <div>
                                        <p>{{item.product.product_name}}</p>
                                        <small>Price: {{item.product.price}} </small>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.quantity}}</td>
                            <td>$ {{item.sub_total}} </td>
                           
                        
                    </tr>
                    {% endfor %}

                </div>

                </table>
    
            </div>
        </div>

	</aside> <!-- col.// -->


	<aside class="col-lg-4">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">${{total}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right">${{tax}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
			</dl>
			<hr>

			<a href="{% url 'payments' order.order_number %}" class="btn btn-primary btn-block"> Checkout </a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
                 



    {% endblock %}